<!-- User profile page that provides usernane and logout function -->
<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/password.js"></script>
    <script src="/scripts/api/client.account.controller.js"></script>
    <script src="/scripts/config/config.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <meta name="google-signin-client_id" content="616876382894-b7reoativof6s609fk02vtoviqkjjh3t.apps.googleusercontent.com">
</head>

<!-- top nav bar -->
<div class="topnav">
    <a class="top-buttons" href="/client">Home</a>
    <a class="top-buttons" href="/client/add_recipe">Add Recipe</a>
    <a class="active top-buttons" href="/client/account_page">Account</a>
</div>

<!-- displays account details, - need to add user name -->
<div class="container">
    <div>
        <h1> Hello user, you are currently signed in.</h1>
        <button id="logoutSubmit" class="button logoutButton" onclick="signOut()">LOG OUT</button>
    </div>
</div>

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

</HTML>