<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:5000/styles/style.css">
    <script>
        function checkCookie() {
            let user = getCookie("username");
            if (user == "") {
                alert("You must be logged in to access this page");
                window.location.href ="/client";
            }
        }

        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

    </script>
</head>


<div class="home-view">

    <div class="topnav">
        <a class="top-buttons" href="/client/">Home</a>
        <a class="active top-buttons" href="/client/add_recipe">Add Recipe</a>
        <a class="top-buttons" href="/client/login_page">Log In</a>
    </div>

    <!-- Form Body -->
    <div class="form-body">
        <form class="form-fields">

            <!-- Form Fields Start -->
            <!-- Title Field -->
            <div class="field-div title-div">
                <p class="input-title">Title*</p>
                <input class="input title-input" type="text" placeholder="Title" placeholder="Title" />
            </div>

            <!-- Ingredients Field -->
            <div>
                <p class="input-title">Ingredients*</p>
                <input class="input ingredients-input" type="text" placeholder="Ingredients" />
            </div>

            <!-- Directions Field -->
            <div>
                <p class="input-title">Directions*</p>
                <textarea cols="40 " rows="10" class="input directions-input" type="text "
                    placeholder="Directions "></textarea>
            </div>

            <!-- Image Field -->
            <div>
                <p class="input-title">Image</p>
                <input class="input image-input" type="file" id="img" name="img" accept="image/*" placeholder="Image" />
            </div>

            <!-- Submit Button -->
            <button type="button" onclick="saveForm()">Try it</button>
            <!-- Form Fields End -->

        </form>

    </div>


</div>

<body onload="checkCookie()"></body>
<script src="addRecipe.js"></script>
<script src="./api/controller.js"></script>
<script src="./config/config.js"></script>
<script src="./models/recipeModel.js"></script>

</HTML>