<!DOCTYPE html>

  <head>
    <link rel="stylesheet" href="http://localhost:5000/styles/style.css">
  </head>
  
  <div class="home-view">

    <div class="topnav">

      <a class="active top-buttons" href="/client">Home</a>
      <a class="top-buttons" href="/client/add_recipe">Add Recipe</a>
      <a class="top-buttons" href="/client/login_page">Log In</a>

    </div>


    <div id = "recipe" class = "recipe-view">
      <% for (var i=0; i<recipes.length; i++) { %>
        <div class="recipe-widget">
          <p> <%= recipes[i].title %> </p>
        </div>
      <% } %>

    </div>

  </div>

  <script src="dashboard.js"></script>
</HTML> 

<!-- 
<div class="search-container">
  <form action="/action_page.php">
    <input type="text" placeholder="Search" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div> -->

