<!-- User login page -->
<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:5000/styles/style.css">
    <script src="http://localhost:5000/scripts/password.js"></script>
    <script src="http://localhost:5000/scripts/api/password.controller.js"></script>
</head>

<div class="topnav">
    <a class="top-buttons" href="/client">Home</a>
    <a class="top-buttons" href="/client/add_recipe">Add Recipe</a>
    <a class="active top-buttons" href="/client/login_page">Log In</a>
  </div>

<div>
    <div class="container">
        <div class="header">
            <h1>Log in</h1>
        </div>
        <input class="login-field" type="text" id="loginUser" name="username" placeholder="Username">
        <input class="login-field" type="password" id="loginPwd" name="password" placeholder="Password">
        <input class="login-field" type="checkbox" onclick="togglePasswordLogin()">Show Password
        <p>
            Not registered?
            <a href="/client/registration_page">Create an account here</a>
        </p>

        <button id="loginSubmit" class="button loginButton">LOG IN</button>

    </div>
</div>
</HTML>