<!-- User registration page -->
<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:5000/styles/style.css">
    <script src="http://localhost:5000/scripts/password.js"></script>
    <script src="http://localhost:5000/scripts/api/client.account.controller.js"></script>
</head>

<div class="topnav">
    <a class="top-buttons" href="/client/">Home</a>
    <a class="top-buttons" href="/client/add_recipe">Add Recipe</a>
    <a class="active top-buttons" href="/client/login_page">Log In</a>
</div>

<div class="form">
    <div class="container">
        <div class="header">
            <h1>Register a New Account</h1>
        </div>
        <label>Username</label>
        <input class="login-field" type="text" id="registerUser" name="username" placeholder="Username"/>
        <label>Password</label>
        <input class="login-field" type="password" id="registerPwd" name="password" placeholder="Password"/>
        <input class="login-field" type="checkbox" onclick="togglePasswordRegister()">Show Password</input>
        <p>
            Already registered?
            <a href="/client/login_page">Login here</a>
        </p>
        <button id="registerSubmit" class="button registerButton" onclick="submitReg()">REGISTER</button>
    </div>
</div>
</HTML>